BOT_TOKEN=your_bot_token_from_botfather
DATABASE_URL=postgresql://user:password@localhost:5432/inj_remit
GAS_WALLET_KEY=funding_wallet_private_key
ENCRYPTION_SECRET=your_32_byte_hex_secret
RPC_URL=injective_testnet_rpc_url
CONTRACT_ADDRESS=0xF19A74AaB361D4209854379a69223d4CaC8eD2D2
USDT_ADDRESS=0xaDC7bcB5d8fe053Ef19b4E0C861c262Af6e0db60
CHAIN_ID=1439